/* .usearnamee{
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px;
}

div{
    background-color: rgb(55, 198, 255);
    
}
input{
    width: 200px;
    height: 20px;
}

.baground{
    background-color: white;
    width: 250px;
    /* height: 310px; 
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px ;

        

 
}
img{
    flex-wrap: wrap;
    height:90px;
    width: 90px;
    padding-top: 20px;
    }
    h2{
       
        flex-wrap: wrap;
        margin: 0px;
    }
    button{
        margin-top: 20px;
        border-radius: 10px;
        width: 205px;
    }
    h3{
        padding-left: 1200px;
        padding-top: 50px;
    }
p{
  color: black;
} 
  
*/
/* ===============================================================================================================================================*/


